body {
    background-color: rgb(20, 83, 220);
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;

}

.container {
    text-align: center;
    background-color: ghostwhite;
    margin: 2% 10%;
    margin-bottom: 0%;
    padding: 5%;
    border-radius: 12px 12px 0px 0px;
}

#lista {
    text-align: left;
    background-color: #ffffff;
    margin: 0% 10%;
    margin-bottom: 2%;
    padding: 1%;
    border-top: 1px dotted black;

    color: rgb(10, 10, 10);
    /* border-radius: 0px 0px 12px 12px; */
}

#lista li {
    font-size: 2.0rem;
    padding: 1%;

}

/* #lista li:hover {
    padding: 1%;
    background-color: #16d5f7;

} */

ul {
    list-style-type: none;
}

a {
    color: rgb(34, 34, 32);
    text-decoration: none;
    padding:0% 2%;
    border-radius: 9px ;
}

a:hover{
    background-color: rgb(84, 209, 0);
}
.git-icon {
    margin-bottom:-38px;
}
.title {
    font-size: 2.5rem;
}